<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BookstoreConnection" 
         connectionString="Server=DESKTOP-8JONI5A;Database=BookstoreDB;Integrated Security=true;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- Web Service Settings -->
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ServiceTitle" value="Bookstore Web Service" />
    <add key="ServiceDescription" value="SOAP Web Service for Bookstore Operations" />
  </appSettings>

  <!-- Framework Support -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <!-- Web Service Configuration -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>

  <!-- MVC Configuration -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>